<style>
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;0,400;1,100&display=swap');
</style>

body {
    font-size: 0.875rem;
}

.feather {
    width: 16px;
    height: 16px;
    vertical-align: text-bottom;
}

/*
 * Sidebar
 */

.sidebar {
    position: fixed;
    top: 0;
    /* rtl:raw:
 aside .sidebar {
  position: fixed;
  top: 0;
  /* rtl:raw:
  right: 0;
  */
    bottom: 0;
    /* rtl:remove */
    left: 0;
    z-index: 100; /* Behind the navbar */
    padding: 48px 0 0; /* Height of navbar */
    box-shadow: inset -1px 0 0 rgba(13, 218, 233, 0.1);
}

/*@media (max-width: 767.98px) {
  .sidebar {
    top: 5rem;
  }
}*/

.sidebar-sticky {
    position: relative;
    top: 0;
    height: calc(100vh - 48px);
    padding-top: 0.5rem;
    overflow-x: hidden;
    overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
}

.sidebar .nav-link {
    font-weight: 500;
    font-size: 16px;
    letter-spacing: 0.3px;
    color: #3d2116;
    align-items: center;
    height: 50px;
    padding: 20px;
    width: 100%;
    font-family: inherit;
}

.sidebar .nav-link .feather {
    margin-right: 4px;
    color: #727272;
}

.sidebar .nav-link.active {
    color: #2470dc;
}

.sidebar .nav-link:hover .feather,
.sidebar .nav-link.active .feather {
    color: inherit;
}

.sidebar-heading {
    font-size: 0.75rem;
    text-transform: uppercase;
aside .sidebar-sticky {
  position: relative;
  display: flex;
  flex-direction: column;
  top: 0;
  height: calc(100vh - 48px);
  padding-top: .5rem;
  overflow-x: hidden;
  overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */

}

aside .sidebar .nav-link {
  font-weight: 500;
  font-size: 16px;
  letter-spacing: .3px;
  color: #3d2116;
  align-items: center;
  height: 50px;
  padding: 20px;
  width: 100%;
  font-family:inherit;

}

aside .sidebar .nav-link .feather {
  margin-right: 4px;
  color: #727272;

}

aside .sidebar .nav-link.active {
  color: #2470dc;
}

aside .sidebar .nav-link:hover .feather,
aside .sidebar .nav-link.active .feather {
  color: inherit;
}

aside .sidebar-heading {
  font-size: .75rem;
  text-transform: uppercase;
  
}

/*
 * Navbar
 */

.navbar {
  height: 6.7vh;
  text-align: center;
}

.navbar-brand {
    padding-top: 0.75rem;
    padding-bottom: 0.75rem;
    font-size: 20px;
    text-align: center;
    /* background-color: rgba(16, 128, 118, 0.87); */
    background-color: #035195;
    box-shadow: inset -1px 0 0 rgba(0, 0, 0, 0.25);
}

.navbar .navbar-toggler {
    top: 0.25rem;
    right: 1rem;
  padding-top: .75rem;
  padding-bottom: .75rem;
  font-size: 20px;
  height: 2.5rem;
  text-align: center;
  width: 14.25rem;
  background-color: rgba(16, 128, 118, 0.87);
  box-shadow: inset -1px 0 0 rgba(0, 0, 0, .25);
  
}

.navbar .navbar-toggler {
  top: .3rem;
  right: 1rem;
  
  
}

.navbar .form-control {
    padding: 0.75rem 1rem;
    border-width: 0;
    border-radius: 0;
}

.form-control-dark {
    color: #fff;
    background-color: rgba(28, 133, 141, 0.1);
    border-color: rgba(255, 255, 255, 0.1);
}

.form-control-dark:focus {
    border-color: transparent;
    box-shadow: 0 0 0 3px rgba(146, 134, 134, 0.404);
}
.sidebarMenu {
    background-color: #abdbe3;
}

.navbar-nav > div .px-3 {
  margin-left: 1rem;
  display: inline-flex;
  margin-top: 0.5rem;
}

.navbar-nav > div span {
  color: orange;
  margin-left: 0.3rem;
  margin-top: 0.2rem;
}

.navbar-nav > div span .a{
  margin-left: 0.2rem;
  margin-bottom: 0.8rem;
}

.sidebarMenu{
  background-color: #abdbe3;
  height: 130vh;
 }

 aside .sidebarMenu > div ul{
    display: flex;
    flex-direction: column;
    height: 120vh;
    position: relative;
    margin-top: 0.5rem;
 }

 aside .sidebarMenu > div .nav-item {
    display: flex;
    margin-left: 1.2rem;
    margin-top: 1.5rem;
    gap: 0.5rem;
    align-items: center;
    position: relative;
    height: 2rem;
    transition: all 300ms ease;
 }

 aside .sidebarMenu > div .nav-item span a {
    font-size: 1.6rem;
    transition: all 300ms ease;
    color: white;
 }

 aside .sidebarMenu > div .nav-item span:hover {
  color: orange;
  margin-left: 1rem;
}

aside .sidebarMenu > div a:hover {
  margin-left: 1rem;
  color: orange;
}




 

 
