/* Google fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,300;0,400;0,500;0,700;0,800;0,900;1,500&display=swap');

/* SETUP */

:root {
  /* Color Styles */
  --primary: #035195;
  --primary-light: #0364b8;
  --dark-blue: #024077;
  --blue-1: #024681;
  --blue-2: #64b7e9;
  --blue-3: #023b6d;
  --blue-4: #022f57;
  --gray-1: #e6e6ed;
  --gray-2: #dce3ea;
  --white: #ffffff;
  --red: #ec4f55;
  --red-2: #ee6166;

  /* Font Size Desktop */
  --header-1: 64px;
  --header-2: 48px;
  --header-3: 42px;
  --header-4: 32px;

  --text-large: 30px;
  --text-medium: 18px;
  --text-regular: 16px;
  --text-light: 13px;

  /* Font Weight */
  --font-weight-bold: 700;
  --font-weight-semi-bold: 600;
  --font-weight-medium: 500;
  --font-weight-regular: 400;
  --font-weight-light: 300;
}

body {
  font-family: 'Poppins', sans-serif;
  background-color: #f0f3f6;
}

/* BUTTON PRIMARY */
.btn {
  padding: 15px 25px;
  border-radius: 6px;
  font-size: var(--text-medium);
  font-weight: var(--font-weight-medium);
  border: none;
}

.btn-primary {
  background-color: var(--primary);
}

.btn-primary:focus {
  background-color: var(--primary-light);
}

.btn-primary:hover {
  background-color: var(--primary-light);
}

/* BUTTON SECONDARY  */

.btn-secondary {
  background-color: var(--gray-1);
  color: var(--blue-1);
}

.btn-secondary:focus {
  background-color: var(--white);
  box-shadow: 0 4px 19px rgba(0, 0, 0, 0.5) !important;
  color: var(--blue-1);
}

.btn-secondary:hover {
  background-color: var(--white) !important;
  box-shadow: 0 4px 19px rgba(0, 0, 0, 0.5) !important;
  color: var(--blue-1);
}

/* NAVBAR */

.bg-white {
  background-color: var(--blue-3) !important;
}

.navbar-brand img {
  padding-right: 5px;
}

.navbar-brand span {
  font-size: var(--text-medium);
  font-weight: var(--font-weight-medium);
  color: var(--gray-2);
}

.navbar-brand .span-pass {
  font-size: var(--text-medium);
  font-weight: var(--font-weight-medium);
  color: var(--blue-2);
}

.navbar-brand span:hover {
  color: var(--primary-light);
}

.navbar {
  padding: 12px 0;
  z-index: 100;
}

a.nav-link {
  margin-right: 39px;
  font-size: var(--text-regular);
  font-weight: var(--font-weight-regular);
  color: white !important;
  border-bottom: 2px solid transparent;
}

a.nav-link:hover {
  color: var(--gray-1) !important;
  border-bottom: 2px solid var(--gray-1);
}

/* HERO */

section.hero {
  margin: 5rem 0;
}

.text-label,
.text-hero-bold,
.text-hero-regular {
  margin: 24px 0;
}

.text-label {
  color: var(--primary);
  font-size: var(--text-regular);
  font-weight: var(--font-weight-regular);
  line-height: 31px;
}

.text-hero-bold {
  color: var(--dark-blue);
  font-size: var(--header-1);
  font-weight: var(--font-weight-bold);
  line-height: 74px;
}

.text-hero-regular {
  color: var(--blue-1);
  font-size: var(--text-regular);
  font-weight: var(--font-weight-regular);
  line-height: 31px;
}

/* DESKTOP VERSION */
@media (min-width: 1399.98px) {
  .container {
    width: 84%;
  }
}

/* MOBILE VERSION */

@media (max-width: 576px) {
  /* NAVBAR */
  .navbar {
    padding: 28px 0;
  }

  a.nav-link {
    margin-right: 7px 0;
  }

  /* HERO SECTION */

  section.hero {
    margin: 2rem 0;
    text-align: center;
  }

  .btn {
    display: block;
    margin: 1rem 0;
  }

  .ms-3 {
    margin-left: 0 !important;
  }

  .text-label,
  .text-hero-bold,
  .text-hero-regular {
    text-align: center;
  }

  .text-hero-bold {
    font-weight: var(--font-weight-bold);
    font-size: var(--header-3);
    line-height: 64px;
  }

  section.hero img {
    margin: 2rem 0;
  }
}

/* TABLET SMALL VERSION */

@media (max-width: 768px) {
  /* NAVBAR */

  .navbar {
    padding: 28px 0;
  }

  a.nav-link {
    margin-right: 7px 0;
  }

  /* HERO SECTION */

  section.hero {
    margin: 1rem 0;
  }

  .text-hero-bold {
    font-weight: var(--font-weight-bold);
    font-size: var(--header-3);
    line-height: 64px;
  }

  section.hero img {
    margin: 2rem 0;
  }
}

/* TABLET MEDIUM & LARGE VERSION */

@media (max-width: 992px) {
  /* NAVBAR */

  .navbar {
    padding: 28px 0;
  }

  a.nav-link {
    margin-right: 7px 0;
    border-bottom: none;
  }

  a.nav-link:hover {
    border-bottom: none;
  }

  /* HERO SECTION */

  section.hero {
    margin: 1rem 0;
  }

  .text-hero-bold {
    font-weight: var(--font-weight-bold);
    font-size: var(--header-3);
    line-height: 64px;
  }

  section.hero img {
    margin: 2rem 0;
  }
}

/* HAVE APPOINTMENT */

/* BUTTON PRIMARY */
.btn {
  padding: 15px 25px;
  border-radius: 6px;
  font-size: var(--text-medium);
  font-weight: var(--font-weight-medium);
  border: none;
}

.btn-cancel-red {
  background-color: var(--red);
  color: white;
}

.btn-cancel-red:focus {
  background-color: var(--red-2);
  color: white;
}

.btn-cancel-red:hover {
  background-color: var(--red-2);
  color: white;
}

/* BUTTON SECONDARY  */

.btn-secondary {
  background-color: var(--gray-1);
  color: var(--blue-1);
}

.btn-secondary:focus {
  background-color: var(--white);
  box-shadow: 0 4px 19px rgba(0, 0, 0, 0.5) !important;
  color: var(--blue-1);
}

.btn-secondary:hover {
  background-color: var(--white) !important;
  box-shadow: 0 4px 19px rgba(0, 0, 0, 0.5) !important;
  color: var(--blue-1);
}

.text-label-h4 {
  font-size: var(--text-large) !important;
  font-weight: var(--font-weight-bold);
  color: var(--blue-4);
  margin-bottom: 36px;
}

.text-hero-regular {
  margin: 24px 0;
}

.id-card-holder {
  width: 225px;
  padding: 4px;
  margin: 0 auto;
  background-color: #1f1f1f;
  border-radius: 5px;
  position: relative;
}
.id-card-holder:after {
  content: '';
  width: 7px;
  display: block;
  background-color: #0a0a0a;
  height: 100px;
  position: absolute;
  top: 105px;
  border-radius: 0 5px 5px 0;
}
.id-card-holder:before {
  content: '';
  width: 7px;
  display: block;
  background-color: #0a0a0a;
  height: 100px;
  position: absolute;
  top: 105px;
  left: 214px;
  border-radius: 5px 0 0 5px;
}
.id-card {

  background-color: #fff;
  padding: 10px;
  border-radius: 10px;
  text-align: center;
  box-shadow: 0 0 1.5px 0px #b9b9b9;
}
.id-card img {
  margin: 0 auto;
}
.id-card-header img {
  width: 170px;
  margin-top: 15px;
}
.id-card-photo img {
  width: 110px;
  margin-top: 15px;
}
.id-card > h2 {
  font-size: 15px;
  margin: 10px 0;
}
.id-card > h4 {
  font-size: 12px;
  margin: 5px 0;
}
.id-card > h3 {
  font-size: 13px;
  margin: 5px 0;
  font-weight: 300;
}
.qr-code img {
  width: 50px;
}
.id-card > p {
  font-size: 10px;
  margin: 2px;
}
.id-card-hook {
  background-color: #000;
  width: 70px;
  margin: 0 auto;
  height: 15px;
  border-radius: 5px 5px 0 0;
}
.id-card-hook:after {
  content: '';
  background-color: #d7d6d3;
  width: 47px;
  height: 6px;
  display: block;
  margin: 0px auto;
  position: relative;
  top: 6px;
  border-radius: 4px;
}
.id-card-tag-strip {
  width: 45px;
  height: 40px;
  background-color: #0950ef;
  margin: 0 auto;
  border-radius: 5px;
  position: relative;
  top: 9px;
  z-index: 1;
  border: 1px solid #0041ad;
}
.id-card-tag-strip:after {
  content: '';
  display: block;
  width: 100%;
  height: 1px;
  background-color: #c1c1c1;
  position: relative;
  top: 10px;
}
.id-card-tag {
  width: 0;
  height: 0;
  border-left: 100px solid transparent;
  border-right: 100px solid transparent;
  border-top: 100px solid #0958db;
  margin: -10px auto -30px auto;
}
.id-card-tag:after {
  content: '';
  display: block;
  width: 0;
  height: 0;
  border-left: 50px solid transparent;
  border-right: 50px solid transparent;
  border-top: 100px solid #d7d6d3;
  margin: -10px auto -30px auto;
  position: relative;
  top: -130px;
  left: -50px;
}
